<!DOCTYPE html>
<html lang="en">
<!--divinectorweb.com-->

<head>
	<meta charset="UTF-8">
	<title>Profile Card Speedy-Justice</title>
	<link rel="stylesheet" href="static/2-avocat.css">
	<div class="container">
		<div class="front side">
			<div class="content">
				<h1>Mohamed Kassaoui</h1>
				<p>Speciality : Personal Status Laws</p>
				<p>PHONE NUMBER : +216 96 911 629</p>
			</div>
		</div>
		<div class="back side">
			<div class="content">
				<h1>Contact Me</h1>
				<form>
					<label>ADDRESS :</label>
					<input type="text" placeholder="75 bis Av.L'indépendance, Tunisia">
					<label>service option :</label>
					<input type="text" placeholder="online appointments">
					<label>Appointment :</label>
					<input type="text" placeholder="kassaouilawfirm.com">

				</form>
			</div>
		</div>