
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="static/criminal-card.css">
</head>
<body>
	
</body>
</html><div class="container">
	<div class="content">
	  <h1>CRIMINAL LAWS</h1>
	  <h3>1) Domestic-violence: Women and girls are protected by the Law on Eliminating Violence againstWomen, No. 58 of 2017</h3>
	  <h3>2) Abortion for rape survivors: Abortion has been decriminalized.</h3>
	  <h3>3) Rape (other than of a spouse): Article 227 of the Penal Code criminalizes rape, which is defined as any act of intercourse with a man or woman without consent, regardless of the nature or the method used.</h3>
	  <h3>4) Marital rape: Marital rape is not specifically criminalized. The Personal Status Code requires both spouses to “fulfil their marital obligations according to custom.”</h3>
	  <h3>5) Sexual harassment: Article 226 of the Penal Code prohibits sexual harassment.</h3>
	  <h3>6) Human trafficking: Law No. 61 of 2016 on Preventing and Combating Trafficking in Persons provides comprehensive measures against trafficking.</h3>
	  <h3>7) Adultery: Adultery is an offence under Article 236 of the Penal Code.</h3>
	</div>
	<div class="flap"></div>
  </div>