<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="static/personal-card.css">
</head>

<body>

</body>

</html>
<div class="container">
	<div class="content">
		<h1>PERSONAL STATUS LAWS</h1>
		<h3>1) Minimum age of marriage: The legal age of marriage for each spouse is 18 years. It is possible in
			exceptional cases to conclude a marriage contract below the prescribed age after obtaining special
			permission from the court.</h3>
		<h3>2) Male guardianship over women: There is no legal requirement for a male marriage guardian to consent to an
			adult woman's marriage or to sign the marriage contract.</h3>
		<h3>3) Polygamy: Polygamy is prohibited by the Personal Status Law.</h3>
		<h3>4) Marriage and divorce: Women and men have equal rights n most aspects of marriage and divorce. The law
			requires consensu-al marriage.</h3>
		<h3>5) Inheritance: The Personal Status Code defines the rules of inheritance, which follow Sharia principles.
			Women have a right to inheritance, but in many cases receive less than men.</h3>
	</div>
	<div class="flap"></div>
</div>