<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Speedy-Justice</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="static/1-page.css">
</head>

<body>
	<nav>
		<h1>speedy-justice</h1>
		<div class="onglets">
			<a href="/law">about-Victim</a>
			<a href="/law">about-Offendr</a>
		</div>
	</nav>

	<header>
		<h1>Speedy-Justice</h1>
		<h2>Fairness and more justice</h2>
		<h1>Civil Law :</h1>
		<button> <a href="/law">Victim</a></button>
		<button> <a href="/law">Offendr</a></button>
	</header>
	<footer>


		</div>

		</div>

		<p>&copy; 2022, Speedy-Justice.</p>
	</footer>
</body>

</html>