<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="static/style2.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Speedy-justice</title>
</head>

<body>
	<div class="container">
		<div class="title">REGISTRATION</div>
		<form action="" method="POST">
			<div class="user_details">
				<div class="input_box">
					<span class="details">Full name</span>
					<input type="text" placeholder="Enter your name" required name="fullname">
				</div>
				<div class="input_box">
					<span class="details">Username</span>
					<input type="text" placeholder="Enter your username" required name="username">
				</div>
				<div class="input_box">
					<span class="details">Email</span>
					<input type="text" placeholder="Enter your Email " required name="email">
				</div>
				<div class="input_box">
					<span class="details">Phone Number</span>
					<input type="text" placeholder="Enter your Phone number" required name="phone">
				</div>
				<div class="input_box">
					<span class="details">Password</span>
					<input type="password" placeholder="Enter your Password" required name="password">
				</div>
				<div class="input_box">
					<span class="details">Confirm Password</span>
					<input type="password" placeholder="Confirm your Password" required name="password_confirmation">
				</div>
			</div>
			<div class="button">
				<input type="submit" value="Signup">
			</div>
		</form>
	</div>

</body>

</html>